<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    html{
    background-color: #FFFF00;
    }
</head>

<body class="container" th:bgcolor="blue" style="background-color:#FF7F00">

<header th:replace="fragments :: header_employee"></header>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Game id</th>
        <th>Name</th>
        <th>Descriere</th>
        <th>Type</th>
    </tr>
    </thead>

    <tr th:each="game : ${games}">
        <td th:text="${game.id}"></td>
        <td th:text="${game.name}"></td>
        <td th:text="${game.description}"></td>
        <td th:text="${game.gameType.name}"></td>
    </tr>
</table>
</body>

</html>