<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    html{
    background-color: #56baed;
    }
    <header th:replace="fragments :: header_employee"></header>
</head>

<body class="container" th:bgcolor="blue" style="background-color:#7F00FF">


<span th:text="${gameTypePrimit == null} ?  'Jocul deja exista in baza de date a aplicatiei.' : ''"></span>
<form method="post">

    <div class="form-group">
        <label>Nume
            <input th:field="${gameType.name}" class="form-control">
        </label>
        <p class="error" style="color: #FE2D00" th:errors="${gameType.name}"></p>
    </div>


    <div class="form-group">
        <label>Descriere
            <input th:field="${gameType.description}" class="form-control">
        </label>
        <p class="error" style="color: #FE2D00" th:errors="${gameType.description}"></p>
    </div>


    <div class="form-group">
        <input  type="submit" value="Add Game Type" class="btn btn-success">
    </div>

</form>


</body>

</html>