<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    html{
    background-color: #FFFF00;
    }
</head>

<body class="container" th:bgcolor="blue" style="background-color:#FFFF00">
<header th:replace="fragments :: header_admin"></header>

<h1 style="font-size:22px" th:text="'Schimbare parola pentru '+ ${user.email}" ></h1>

<form style="background-color:#FFFF00" method="post" >


    <div type="hidden" style="background-color:#FFFF00" class="form-group row">
        <label >
            <input style="background-color:#FFFF00"  th:field= "${user.email}" readonly class="form-control-plaintext" hidden>
        </label>
    </div>
    <div style="background-color:#FFFF00" class="form-group row">
        <label >Password
            <input style="background-color:#FFFF00" type="password" th:field= "${user.password}" class="form-control">
        </label>

    </div>



    <div  style="background-color:#FFFF00" class="form-group row">
        <input href="logged" type="submit" value="Reset password" class="btn btn-success">
    </div>

</form>
<p class = "error" style="color: #FE2D00" th:errors="${user.password}"></p>
<p class = "error" style="color: #FE2D00" th:errors="${user.email}"></p>

</body>

</html>