<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    html{
    background-color: #FFFF00;
    }
</head>

<body class="container" th:bgcolor="blue" style="background-color:#FFFF00">

<header th:replace="fragments :: header_admin"></header>
<table class="table table-striped">
<thead>
<tr>
    <th>User id</th>
    <th>Email</th>
    <th>Parola</th>
    <th>Rol</th>
</tr>
</thead>

<tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.password}"></td>
    <td th:text="${user.rol.roleName}"></td>
</tr>
</table>
</body>

</html>